@import "tailwindcss";


/* DO NOT write * { padding:0; margin:0; } after these */

*{
  
    box-sizing: border-box;
    color: #fff;
}

html,body{
    /* height: 100%;
    width: 100%; */
}

body{
background-color: black;
}
#tasklist::-webkit-scrollbar{
    display: none;
}
